In [1]:
import pandas as pd

In [2]:
dispositivos = pd.read_json('data/Tabela_dispositivos.json')
idade = pd.read_json('data/Tabela_idade_e_genero.json')

In [18]:
dispositivos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819 entries, 0 to 818
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Dia                                        819 non-null    object
 1   Plataforma do dispositivo                  819 non-null    object
 2   Colocação                                  819 non-null    object
 3   Plataforma                                 819 non-null    object
 4   Alcance                                    742 non-null    float64
 5   Impressões                                 812 non-null    float64
 6   Quantia gasta (BRL)                        819 non-null    float64
 7   Cliques em links                           819 non-null    object
 8   Visualizações por página                   819 non-null    object
 9   Compras no website                         819 non-null    object
 10  Compras no facebook                        819 non-null    object
 11  Adicionados ao carrinho                    819 non-null    object
 12  Valor de conversão adicionado ao carrinho  819 non-null    object
 13  Checkouts Iniciados                        819 non-null    object
 14  Valor de conversão de checkouts iniciados  819 non-null    object
 15  Valor de conversão de compras              819 non-null    object
 16  Compras                                    819 non-null    object
dtypes: float64(3), object(14)
memory usage: 108.9+ KB

In [3]:

dispositivos.head()

,Dia,Plataforma do dispositivo,Colocação,Plataforma,Alcance,Impressões,Quantia gasta (BRL),Cliques em links,Visualizações por página,Compras no website,Compras no facebook,Adicionados ao carrinho,Valor de conversão adicionado ao carrinho,Checkouts Iniciados,Valor de conversão de checkouts iniciados,Valor de conversão de compras,Compras
0,2021-07-31,All,All,All,12440.0,16114.0,"72,66","141,00","101,00","6,00",,"48,00","5277,80","30,00",,"853,59","6,00"
1,2021-07-31,mobile_web,All,All,104.0,170.0,"0,49",,,,,,,,,,
2,2021-07-31,mobile_web,feed,All,104.0,170.0,"0,49",,,,,,,,,,
3,2021-07-31,mobile_web,feed,facebook,104.0,170.0,"0,49",,,,,,,,,,
4,2021-07-31,mobile_app,All,All,12236.0,15679.0,"70,62","136,00","98,00","6,00",,"48,00","5277,80","30,00",,"853,59","6,00"

In [17]:
idade.head()

,Idade,Gênero,Dia,FIELD4,Alcance,Impressões,Quantia gasta (BRL),Cliques no link,Visualizações por página,Compras no website,Compras no facebook,Adicionados ao carrinho,Valor de conversão adicionado ao carrinho,Checkouts Iniciados,Valor de conversão de checkouts iniciados,Valor de conversão de compras,Compras
0,45-54,Feminino,2021-07-31,,1116.0,1489.0,9.42,"24,00","20,00",,,"1,00","63,90","1,00",,,
1,35-44,Outros,2021-07-31,,4.0,5.0,0.03,,,,,,,,,,
2,45-54,Outros,2021-07-31,,3.0,3.0,0.00,,,,,,,,,,
3,65+,Masculino,2021-07-31,,24.0,36.0,0.11,,,,,,,,,,
4,25,Outros,2021-07-31,,4.0,4.0,0.01,,,,,,,,,,

In [4]:

idade['Quantia gasta (BRL)'] = idade['Quantia gasta (BRL)'].replace('',0)
#idade['Quantia gasta (BRL)'] = idade['Quantia gasta (BRL)'].astype(float, errors = 'ignore')

idade['Quantia gasta (BRL)'] = idade['Quantia gasta (BRL)'].str.replace(',', '.')
idade['Quantia gasta (BRL)'] = idade['Quantia gasta (BRL)'].astype(float)
idade['Quantia gasta (BRL)'] = idade['Quantia gasta (BRL)'].fillna(value=0)

#Dispositivos

dispositivos['Quantia gasta (BRL)'] = dispositivos['Quantia gasta (BRL)'].replace('',0)
#idade['Quantia gasta (BRL)'] = idade['Quantia gasta (BRL)'].astype(float, errors = 'ignore')

dispositivos['Quantia gasta (BRL)'] = dispositivos['Quantia gasta (BRL)'].str.replace(',', '.')
dispositivos['Quantia gasta (BRL)'] = dispositivos['Quantia gasta (BRL)'].astype(float)
dispositivos['Quantia gasta (BRL)'] = dispositivos['Quantia gasta (BRL)'].fillna(value=0)

In [5]:
idade['Quantia gasta (BRL)'].head()

0    9.42
1    0.03
2    0.00
3    0.11
4    0.01
Name: Quantia gasta (BRL), dtype: float64

In [16]:
print('Valor Gasto na tabela idade:', idade['Quantia gasta (BRL)'].sum())

Valor Gasto na tabela idade: 3125.43

In [15]:
print('Valor Gasto na tabela dispositivos:', dispositivos['Quantia gasta (BRL)'].sum())

Valor Gasto na tabela dispositivos:% 12501.72

In [19]:
dispositivos.Compras.unique()

array(['6,00', '', '1,00', '4,00', '3,00', '5,00', '13,00', '10,00',
       '7,00', '2,00', '9,00', '8,00', '11,00', '12,00', '15,00', '14,00',
       '19,00', '17,00', '16,00', '23,00', '21,00', '20,00', '18,00'],
      dtype=object)